body
{
	background-color: #999999;
}
body header 	
{
	text-align: center;
	color:#1d1d1d;
}
nav
{
	text-align: center;	
}
nav ul li
{
	display: inline-block;
	margin-right: 20px;
	list-style: none;
	padding: 5px;
	font: bold 18px verdana, sans-serif;
	cursor: pointer;
}
a
{
	text-decoration: none;
}
#anuncio1
{
	float: left;
	color:#e44e2d;
	background-color: #1d1d1d;
	border-radius: 5px;	
}
#anuncio2
{
	float: right;
	color:#e44e2d;
	background-color: #1d1d1d;
	border-radius: 5px;	
}
body section article
{
	width:900px;
	height:auto;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(240,240,240);
	border-radius: 5px;
	padding: 5px;
}

nav ul li:hover
{
	background-color:#1d1d1d;
	color:#ed44d2d;
	border-radius:5px;
}
nav ul li a
{
	text-decoration:none;
}
body section form
{
	width: 800px;
	height: 300px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
	background-color: #1d1d1d;
	border-radius: 3px;
}

#contenidolista li
{
	text-align: left;
	display:list-item;
}
#contenidolista a
{
	color:rgb(0,50,100);
}
#Intro
{
	text-align: justify;
	color:rgb(230,20,30);
	font-size: 16px;
	font-family: "Arial Narrow";
}